<h1>Profile for: <%= @user.name %></h1>

<p>
  <b>Username:</b>
  <%= @user.name %>
</p>

<p>
  <b>Nickname:</b>
  <%= @user.nickname %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<%= link_to 'Update Profile', edit_user_url(@user) %>

