<h1>Users</h1>


<table class="table table-bordered table-striped table-hover">
  <thead>
    <tr>
      <th>Username</th>
      <th>Nickname</th>
      <th>Email</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
  <% @users.each do |user| %>
    <tr>
      <td><%= user.name %></td>
      <td><%= user.nickname %></td>
      <td><%= user.email %></td>
      <td><a class="btn btn-primary" href=<%="#{edit_user_url(user)}"%><%= link_to 'Edit', edit_user_url(user) %></td>
      <td><a class="btn btn-danger" href=<%="#{user_url(user)}"%><%= link_to 'Delete', user_url(user), method: 'delete', data: { confirm: "Do you really want to delete this user?" } %></td>

    </tr>
  <% end %>
  </tbody>
</table>

