<h1>Editing Category #<%= @category.id %></h1>


<%= form_tag(category_url(@category), method: 'put') do %>

  <div>
    <%= label_tag :category %><br />
    <%= text_field_tag :category, @category.category %>
  </div>

  
  <div>
    <%= submit_tag "Save Changes" %>
  </div>

<% end %>
