<h1><%= User.find_by_id(session[:user_id]).nickname %>'s Items</h1>

<h3><i>Assigned to me:</i></h3>

<table class="table table-bordered table-striped table-hover">
  <thead>
    <tr>
      <th>Task</th>
      <th></th>
      <!--<th>Priority level</th>
      <th>Done?</th>
      <th>List</th>
      <th>Assigned to</th>-->
      <th>Assigned by</th>
      <th>Category</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
  <% @myitems.each do |item| %>
    <tr>
      <td><b><%= link_to item.task, edit_item_url(item) %></b></td>
      <td><%= item.deadline %></td>
      <!--<td><%= item.priority %></td>
      <td><%= item.status %></td>
      <td><%= List.find_by_id(item.list_id).title %></td>
      <td><%= User.find_by_id(item.collaborator_id).nickname %></td>-->
      <td><%= User.find_by_id(item.user_id).nickname %></td>
      <td><%= Category.find_by_id(item.category_id).category %></td>
  
      <td><%= link_to 'Done!', item_url(item), method: 'delete', data: { confirm: "Do you really want to delete this item?" }, class: "btn btn-primary" %></td>


    </tr>
  <% end %>
  </tbody>
</table>


<h3><i>Assigned by me:</i></h3>

<table class="table table-bordered table-striped table-hover">
  <thead>
    <tr>
      <th>Task</th>
      <th></th>
      <!--<th>Priority level</th>
      <th>Done?</th>
      <th>List</th>-->
      <th>Assigned to</th>
      <!--<th>Assigned by</th>-->
      <th>Category</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
  <% @assigneditems.each do |item| %>
    <tr>
      <td><b><%= link_to item.task, edit_item_url(item) %></b></td>
      <td><%= item.deadline %></td>
      <!--<td><%= item.priority %></td>
      <td><%= item.status %></td>
      <td><%= List.find_by_id(item.list_id).title %></td>-->
      <td><%= User.find_by_id(item.collaborator_id).nickname %></td>
      <!--<td><%= User.find_by_id(item.user_id).nickname %></td>-->
      <td><%= Category.find_by_id(item.category_id).category %></td>
  
      <td><%= link_to 'Done!', item_url(item), method: 'delete', data: { confirm: "Do you really want to delete this item?" }, class: "btn btn-primary" %></td>


    </tr>
  <% end %>
  </tbody>
</table>

