<h1>Items</h1>


<table class="table table-bordered table-striped table-hover">
  <thead>
    <tr>
      <th>Task</th>
      <th>Duedate</th>
      <th>Priority level</th>
      <th>Done?</th>
      <th>List</th>
      <th>Assigned to</th>
      <th>Assigned by</th>
      <th>Category</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
  <% @items.each do |item| %>
    <tr>
      <td><%= item.task %></td>
      <td><%= item.due %></td>
      <td><%= item.priority %></td>
      <td><%= item.status %></td>
      <td><%= List.find_by_id(item.list_id).title %></td>
      <td><%= User.find_by_id(item.collaborator_id).nickname %></td>
      <td><%= User.find_by_id(item.user_id).nickname %></td>
      <td><%= Category.find_by_id(item.category_id).category %></td>
  
      <td><%= link_to 'Edit', edit_item_url(item) %></td>
      <td><%= link_to 'Delete', item_url(item), method: 'delete', data: { confirm: "Do you really want to delete this item?" } %></td>

    </tr>
  <% end %>
  </tbody>
</table>

