<h1>New Item</h1>


  <%= form_tag(items_url, method: 'post', class: "form-horizontal well") do %>
  
    <div class="control-group">
      <label class="control-label"><%= label_tag :task %></label>
        <div class="controls">
          <%= text_field_tag :task %>
        </div>
    </div>

    <!--

    <div class="control-group">
      <label class="control-label"><%= label_tag :duedate %></label>
        <div class="controls">
          <%= text_field_tag :due %>
        </div>
    </div>

    <div class="control-group">
      <label class="control-label"><%= label_tag 'Priority level' %></label>
        <div class="controls">
          <%= number_field_tag :priority, nil, :in => 1...6%>
        </div>
    </div>

    -->

    <div class="control-group">
      <label class="control-label"><%= label_tag :category_id %></label>
        <div class="controls">
          <%= select_tag :category_id, options_from_collection_for_select(Category.all, :id, :category) %>
          <%= link_to 'Add a New Category', new_category_url %>
        </div>
    </div>

          <%= hidden_field_tag :list_id, params[:id] %>

    <div class="control-group">
      <label class="control-label"><%= label_tag 'Assigned to' %></label>
        <div class="controls">
          <%= select_tag :collaborator_id, options_from_collection_for_select(User.all, :id, :nickname) %>
        </div>
    </div>

          <%= hidden_field_tag :user_id, session[:user_id] %>

    <div class="controls"><%= submit_tag "Create Item" %></div>
    
  <% end %>

