<h1>New Item</h1>


<%= form_tag(items_url, method: 'post') do %>


  <div>
    <%= label_tag :task %><br />
    <%= text_field_tag :task %>
  </div>

  <div>
    <%= label_tag :collaborator_id %><br />
    <%= select_tag :collaborator_id, options_from_collection_for_select(Collaborator.all, :id, :nickname) %>
  </div>

  <div>
    <%= label_tag :list_id %><br />
    <%= select_tag :list_id, options_from_collection_for_select(List.all, :id, :title) %>
  </div>

  <div>
    <%= label_tag :category_id %><br />
    <%= select_tag :category_id, options_from_collection_for_select(Category.all, :id, :category) %>
  </div>
  
  <div>
    <%= label_tag :user_id %><br />
    <%= select_tag :user_id, options_from_collection_for_select(User.all, :id, :name) %>
  </div>

  <div>
    <%= label_tag :due %><br />
    <%= text_field_tag :due %>
  </div>

  <div>
    <%= label_tag :priority %><br />
    <%= number_field_tag :priority %>
  </div>

  <div>
    <%= label_tag :status %><br />
    <%= check_box_tag :status? %>
  </div>

  <div>
    <%= submit_tag "Create Item" %>
  </div>
<% end %>
