<h1>Editing Collaborator #<%= @collaborator.id %></h1>


<%= form_tag(collaborator_url(@collaborator), method: 'put') do %>

  <div>
    <%= label_tag :name %><br />
    <%= text_field_tag :name, @collaborator.name %>
  </div>

  <div>
    <%= label_tag :nickname %><br />
    <%= text_field_tag :nickname, @collaborator.nickname %>
  </div>

  <div>
    <%= label_tag :user_id %><br />
    <%= select_tag :user_id, options_from_collection_for_select(User.all, :id, :name) %>
  </div>

  
  <div>
    <%= submit_tag "Update Collaborator" %>
  </div>

<% end %>
