<h1>Collaborators</h1>

<p><%= link_to 'Add a New Collaborator', new_collaborator_url %></p>

<table class="table table-bordered table-striped table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Nickname</th>
      <th>User</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
  <% @collaborators.each do |collaborator| %>
    <tr>
      <td><%= collaborator.name %></td>
      <td><%= collaborator.nickname %></td>
      <td><%= User.find_by_id(collaborator.user_id).name %></td>
  
      <td><%= link_to 'Edit', edit_collaborator_url(collaborator) %></td>
      <td><%= link_to 'Delete', collaborator_url(collaborator), method: 'delete', data: { confirm: "Do you really want to delete this collaborator?" } %></td>

    </tr>
  <% end %>
  </tbody>
</table>

