<h1>What do you want to change?</h1>


<%= form_tag(list_url(@list), method: 'put') do %>

  <p><%= label_tag :name %><%= text_field_tag :title, @list.title %></p>

  <%= submit_tag "Save it!" %>

<% end %>


<%= form_tag(list_url(@list), method: 'delete', data: { confirm: "Do you really want to delete this list?" } ) do %>

  <%= submit_tag "Get rid of it!" %>

<% end %>
