<h1>Edit List</h1>

<%= form_tag(list_url(@list), method: 'put') do %>

  <p><%= label_tag "List Title" %><%= text_field_tag :title, @list.title %></p>
  <p><%= label_tag 'Add Collaborator' %><%= select_tag :collaborator_id, options_from_collection_for_select(User.all, :id, :nickname), :include_blank => true %></p>
	
	<ul class="nav nav-list"><h4>
		<li class="nav-header">Current Collaborators:</li>
		  <% @list.collaborators.each do |c| %>
		 	<li><%= User.find_by_id(c.user_id).nickname %></li>
		  <% end %>
	</h4></ul><br>

  <%= submit_tag "Save Changes" %>

<% end %>

<%= link_to 'Delete this list', list_url(@list), method: 'delete', data: { confirm: "Do you really want to delete this item?" } %>