<h1>Lists</h1>

<p><%= link_to 'Add a New List', new_list_url %></p>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
  <% @lists.each do |list| %>
    <tr>
      <td><%= list.title %></td>
  
      <td><%= link_to 'Show', list_url(list) %></td>
      <td><%= link_to 'Edit', edit_list_url(list) %></td>
      <td><%= link_to 'Destroy', list_url(list), method: 'delete', data: { confirm: "Do you really want to delete this list?" } %></td>

    </tr>
  <% end %>
  </tbody>
</table>

